.our-services {
    min-height: 85dvh;
}

.our-services #myTab li.nav-item {
    flex: 1 0 auto;

}

.our-services ul.hoverable-list {
    width: fit-content;
}

.our-services ul.hoverable-list li:hover {
    color: var(--bs-primary);
}

.our-services .nav-tabs .nav-link.active {
    color: var(--bs-primary) !important;
    font-weight: 600;
}

.our-services .nav-tabs .nav-link {
    color: var(--bs-gray-dark) !important;
}

.our-services .swing-service-list li::marker {
    font-weight: 600;
    font-size: var(--font-size-20);
}